* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #FFFFFF;
}

header {
    color: #F7FAFC;
    text-align: center;
    padding: 56px;
    background: #6B46C1;
    height: 280px;
}

.header-text {
    width: 366px;
    height: 78px;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #F7FAFC;
    text-align: start;
    margin: auto;
    padding-right: 25px;
}

.main-paragraph {
    padding-right: 15px;
    width: 381px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #F7FAFC;
    opacity: 0.84;
    text-align: start;
    margin: auto;
    padding-top: 20px;
}

.card {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

.card-content {
    color: #171923;
    background: #F0EAFB;
    text-align: center;
    width: 400px;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.premium-pro {
    width: 162px;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #171923;
    margin: auto;
    padding-top: 35px;
}

.price {
    width: 126px;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #171923;
    margin: auto;
    padding-top: 16px;
}

.bill {
    width: 282px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #171923;
    margin: auto;
    padding-top: 12px;
}

button {
    width: 282px;
    height: 51px;
    font-weight: 700;
    font-size: 16px;
    padding: 13px;
    color: #F7FAFC;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 32px;
    background: #805AD5;
    /*margin: auto;*/
    margin-bottom: 29px;
    border: none;
}

.sub-content {
    color: #2D3748;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 29px;
    background: white;
}

.tick {
    background: #6134C4;
    color: white;
    border-radius: 100%;
    padding: 2px 4px;
    text-align: center;
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

.list-content {
    display: flex;
    align-items: start;
    flex-direction: column;
    align-content: start;
    padding-top: 24px;
    width: 368px;
}

#access {
    width: 353px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-top: 39px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.foot-container {
    position: absolute;
    top: 450px;
}

.icon-text {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.icon-text p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

#mid-content {
    padding: 37px 0 37px 0
}

svg {
    width: 33px;
    height: 33px;
}

#monthly {
    width: 300px;
}

/*@media only screen and (max-width: 768px) {*/

/*}*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-text {
        width: 751px;
        height: 62px;
        font-weight: 800;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #F7FAFC;
    }

    .main-paragraph {
        width: 604px;
        height: 32px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #F7FAFC;
        opacity: 0.84;
    }

    main {
        width: 994px;
        height: 336px;
        margin: auto;
    }

    .card {
        display: flex;
        justify-content: center;
        position: relative;
        top: 10px;
    }

    .card-content {
        display: flex;
        justify-content: center;
        width: 994px;
        height: 336px;
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
    }
    .left-card {
        width: 378px;
    }

    #access {
        width: 100%;
        height: 56px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #2D3748;
    }

    .list-content {
        /*margin-top: 26px;*/
    }

    .tick {
        margin-right: 26px;
    }

    .sub-content {
        border-radius: 0 12px 12px 0;
    }

    footer {
        bottom: 600px;
    }

    .foot-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-text {
        column-gap: 20px;
        padding: 10px;
    }

    .text {
        width: 190px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    #support {
        /*padding-bottom: 48px;*/
        margin-bottom: 48px;
    }
    #mid-content {
        padding: 0;
        column-gap: 10px;
    }

    .content-two {
        width: 140px;
    }

    #monthly {
        width: 220px;
    }

    #third {
        padding: 0 50px 0 50px;
        column-gap: 10px;
        width: 284px;
    }

    #first {
        width: 284px;

    }
}